# Python virtual environment
venv/

# Python cache files
__pycache__/
*.pyc

# Environment variables and secrets
.env
.env.*

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Temporary files
*.tmp
*.log

# Operating system files
.DS_Store
Thumbs.dbs
# Raw datasets
data/raw/