# Python virtual environment
venv/

# Python cache files
__pycache__/
*.pyc

# Environment variables and secrets
.env
.env.*
!.env.example

# Pipeline staging data
data/staging/

# Airflow runtime files
airflow/logs/
airflow/config/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Temporary and log files
*.tmp
*.log

# Operating system files
.DS_Store
Thumbs.db